@font-face {
  font-family: 'arcade';
  src: url('PressStart2P-Regular.ttf')  format('truetype');
}

#op
{
  font-family: 'arcade';
  border-bottom: 1px solid white;
  text-align: center;
}
#memory
{
  font-family: 'arcade';
  border-bottom: 1px solid white;
  text-align: center;
}

#spacer
{
  width: 15%;
}

#log {
  width: 10%;
  height: 435px;
  overflow-y: auto;
  border: 5px solid white;
  color: white;
}

#mem {
  width: 10%;
  overflow-y: auto;
  height: 435px;
  border: 5px solid white;
  color: white;
}



#tbl{
  width: 640px;
  height: 320px;
  border: 4px solid blue;
}

#hold > *{
  display: inline;
  float: left;
}


#tblHold {
  width: 100%;
}

#tblHold > *{

  position: relative;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

#heading {
  color: white;
  font-family: 'arcade';
}

#start {
  background-color: blue;
  border-color: blue;
  color: white;
  border: none;
}

#pause {
  background-color: blue;
  border-color: blue;
  color: white;
  border: none;
}

#restart {
  background-color: blue;
  border-color: blue;
  color: white;
  border: none;
}

#backward {
  background-color: blue;
  border-color: blue;
  color: white;
  border: none;
}

#forward {
  background-color: blue;
  border-color: blue;
  color: white;
  border: none;
}

#help {
  background-color: blue;
  border-color: blue;
  color: white;
  border: none;
}

#start:hover {
  box-shadow: 0px 0px 5px #777;
}

#pause:hover {
  box-shadow: 0px 0px 5px #777;
}

#restart:hover {
  box-shadow: 0px 0px 5px #777;
}

#backward:hover {
  box-shadow: 0px 0px 5px #777;
}

#forward:hover {
  box-shadow: 0px 0px 5px #777;
}

#help:hover {
  box-shadow: 0px 0px 5px #777;
}

body {
  background-color: black;
}

#con table {
   border: 5px solid white;
   table-layout: fixed;
   width: 100%;
   height: auto;

 }
#con th
{
font-family: 'arcade';
  height :30px;
  text-align: center;
}
#con {
  width: 50%;
  color: white;
}
#con td
{
  height: 50px;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}
td p
{
text-align: center;
  height: 100%;
  width: 50%;
  border: 1px solid white;
  background-color: blue;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}


